extend layout

block head

block content
  .row
    //- .frm_container
    .container
      .align
        i.icon-group-circled
      h1
        .row
          h1.teamalign-title Meet the team 
        //
           four columns 
        .row
          .span2.offset2
            .teamalign
              img.team-thumb.img-circle(src='imgs/portrait-3.jpg', alt='')
            h3.teamText Emma Yiqiao Tang
            h4.about-icon-thumb
              a(href='http://www.linkedin.com/in/yiqiaotang')
                img.linkedInLogo(src='/imgs/linkedInLogo.png')
              a(href='https://github.com/jokomo')
                img.gitHubLogo(src='/imgs/GitHubLogo.png')
              a(href='https://twitter.com/yiqiaotang')
                img.twitterLogo(src='/imgs/twitterLogo.png')

          //
             ./span2 

             ./span2 
          .span2
            .teamalign
              img.team-thumb.img-circle(src='imgs/portrait-1.jpg', alt='')
            h3.teamText Woon Ket Wong
            h4.about-icon-thumb
              a(href='http://www.linkedin.com/pub/woon-ket-wong/2/996/8a5')
                img.linkedInLogo(src='/imgs/linkedInLogo.png')
              a(href='https://github.com/woonketwong')
                img.gitHubLogo(src='/imgs/GitHubLogo.png')
              a(href='https://twitter.com/woonketwong')
                img.twitterLogo(src='/imgs/twitterLogo.png')

          //
             ./span2 
          .span2
            .teamalign
              img.team-thumb.img-circle(src='imgs/portrait-4.jpg', alt='')
            h3.teamText Bradford Cook
            h4.about-icon-thumb
              a(href='http://www.linkedin.com/pub/bradford-cook/11/a75/516')
                img.linkedInLogo(src='/imgs/linkedInLogo.png')
              a(href='https://github.com/bradfordh/')
                img.gitHubLogo(src='/imgs/GitHubLogo.png')
              a(href='https://twitter.com/bradfordhc')
                img.twitterLogo(src='/imgs/twitterLogo.png')
          //
             ./span2 
          .span2
            .teamalign
              img.team-thumb.img-circle(src='imgs/portrait-5.jpg', alt='')
            h3.teamText Shanshan Zhu
            h4.about-icon-thumb
              a(href='http://www.linkedin.com/pub/shanshan-zhu/34/886/53/')
                img.linkedInLogo(src='/imgs/linkedInLogo.png')
              a(href='https://github.com/shanshanzhu')
                img.gitHubLogo(src='/imgs/GitHubLogo.png')
              a(href='https://shanshanzhu.wordpress.com')
                img.wordpressLogo(src='/imgs/wordpressLogo.png')

        .row
          //
          .span2.offset3
            .teamalign
              img.team-thumb.img-circle(src='imgs/portrait-2.jpg', alt='')
            h3.teamText Pieter de Jong
            h4.about-icon-thumb
              a(href='http://www.linkedin.com/in/pieteradejong')
                img.linkedInLogo(src='/imgs/linkedInLogo.png')
              a(href='https://github.com/pieteradejong')
                img.gitHubLogo(src='/imgs/GitHubLogo.png')
              a(href='https://twitter.com/pieteradejong')
                img.twitterLogo(src='/imgs/twitterLogo.png')


          .span2
            .teamalign
              img.team-thumb.img-circle(src='imgs/portrait-6.jpg', alt='')
            h3.teamText Collen Jones
            h4.about-icon-thumb
              a(href='http://www.linkedin.com/in/collenjones')
                img.linkedInLogo(src='/imgs/linkedInLogo.png')
              a(href='https://github.com/collenjones')
                img.gitHubLogo(src='/imgs/GitHubLogo.png')
              a(href='https://twitter.com/collenjones')
                img.twitterLogo(src='/imgs/twitterLogo.png')

          .span2
            .teamalign
              img.team-thumb.img-circle(src='imgs/portrait-7.jpg', alt='')
            h3.teamText David Ryan Hall
            h4.about-icon-thumb
              a(href='www.linkedin.com/in/davidryanhall')
                img.linkedInLogo(src='/imgs/linkedInLogo.png')
              a(href='https://github.com/ryanmg')
                img.gitHubLogo(src='/imgs/GitHubLogo.png')
              a(href='#')
                img.twitterLogo(src='/imgs/twitterLogo.png')

        
