extend layout

block head

block content
  .row
    .frm_container
      h1 About Us
      p
        h1
          small Brad Cook, Full Stack Software Engineer
        | INSERT SHORT BIO & LINKS TO GITHUB, LINKEDIN, etc.
        br
        br
        br
        br
        h1
          small Pieter de Jong, Full Stack Software Engineer
        | INSERT SHORT BIO & LINKS TO GITHUB, LINKEDIN, etc.
        br
        br
        br
        br
        h1
          small Emma Yiqia Tang, Full Stack Software Engineer
        | INSERT SHORT BIO & LINKS TO GITHUB, LINKEDIN, etc.
        br
        br
        br
        br
        h1
          small Woon Ket Wong, Full Stack Software Engineer
        | INSERT SHORT BIO & LINKS TO GITHUB, LINKEDIN, etc.
        br
        br
        br
        br
        h1
          small Shanshan Shu, Full Stack Software Engineer
        | INSERT SHORT BIO & LINKS TO GITHUB, LINKEDIN, etc.
        br
        br
        br
        br
