extend layout

block head

block content
  .row
    .frm_container
      h1 About Us
        a(href='https://github.com/datsy/')
          img.gitHubLogo(src='/imgs/GitHubLogo.png')
      p
        h1
          small Brad Cook, Full Stack Software Engineer

            a(href='http://www.linkedin.com/pub/bradford-cook/11/a75/516')
              img.linkedInLogo(src='/imgs/linkedInLogo.png')
            a(href='https://github.com/bradfordh/')
              img.gitHubLogo(src='/imgs/GitHubLogo.png')
            a(href='https://twitter.com/bradfordhc')
              img.twitterLogo(src='/imgs/twitterLogo.png')
        
        h1
          small Pieter de Jong, Full Stack Software Engineer
            a(href='http://www.linkedin.com/in/pieteradejong')
              img.linkedInLogo(src='/imgs/linkedInLogo.png')
            a(href='https://github.com/pieteradejong')
              img.gitHubLogo(src='/imgs/GitHubLogo.png')
            a(href='https://twitter.com/pieteradejong')
              img.twitterLogo(src='/imgs/twitterLogo.png')
        h1
          small Emma Yiqiao Tang, Full Stack Software Engineer
            a(href='http://www.linkedin.com/in/yiqiaotang')
              img.linkedInLogo(src='/imgs/linkedInLogo.png')
            a(href='https://github.com/jokomo')
              img.gitHubLogo(src='/imgs/GitHubLogo.png')
            a(href='https://twitter.com/yiqiaotang')
              img.twitterLogo(src='/imgs/twitterLogo.png')
        h1
          small Woon Ket Wong, Full Stack Software Engineer
            a(href='http://www.linkedin.com/pub/woon-ket-wong/2/996/8a5')
              img.linkedInLogo(src='/imgs/linkedInLogo.png')
            a(href='https://github.com/woonketwong')
              img.gitHubLogo(src='/imgs/GitHubLogo.png')
            a(href='https://twitter.com/woonketwong')
              img.twitterLogo(src='/imgs/twitterLogo.png')
        h1
          small Shanshan Zhu, Full Stack Software Engineer
            a(href='http://www.linkedin.com/pub/shanshan-zhu/34/886/53/')
              img.linkedInLogo(src='/imgs/linkedInLogo.png')
            a(href='https://github.com/shanshanzhu')
              img.gitHubLogo(src='/imgs/GitHubLogo.png')
            a(href='https://shanshanzhu.wordpress.com')
              img.wordpressLogo(src='/imgs/wordpressLogo.png')
        
