extend layout

block head

block content
  .row
<<<<<<< HEAD
    a(href='#signup')
      img(src='../imgs/signup.png')
    div
      img(src='../imgs/Coming_Soon.jpeg')
=======
    div.containerdiv
      div.signupboxdiv
        div.signupbuttondiv
          a(href='#signup')
            img(src='../imgs/signup.png')
        div.textboxsignupdiv 
          span.logodiv Datsy
          span  is a service that allows you to easily explore and visualize data and the relationships between them

        

        //- img(src='../imgs/Coming_Soon.jpeg')
>>>>>>> 34b51f06e4e4fa90533d06969b917ddfa19f4c04
