extend layout

block head

block content
  .row
    div.containerdiv
      div.signupboxdiv
        div.signupbuttondiv
          a(href='#signup')
            img(src='../imgs/signup.png')
        div.textboxsignupdiv 
          span.logodiv Datsy
          span  is a service that allows you to easily explore and visualize data and the relationships between them