extend layout

block head

block content
  div.page-header
    h1 Manage Data Better
       br
       small  Easily upload, share and explore data with API and visualization.
    p
     a.btn.btn-primary.btn-large(href='#/signup') Signup

    section#portfolio.single-page.scrollblock
      .container
        .align
          i.icon-desktop-circled
        h1#folio-headline Features
        .row
          div.span4
            div.well(style='background-color: #0b333f')
              h1.text-center
                img(src='/imgs/databaselogo.png')
              hr
              p.lead(style='color: rgb(250,250,250)')
                strong Setup your profile 
              p(style='color: rgb(250,250,250)') Signup and access your profile in one quick step
          div.span4
            div.well(style='background-color: #0b333f')
              h1.text-center
                img(src='/imgs/cloudupload3.png')
              hr
              p.lead(style='color: rgb(250,250,250)')
                strong Upload and share
              p(style='color: rgb(250,250,250)') Load CSV or API data so others can access the dataset
          div.span4
           div.well(style='background-color: #0b333f')
             h1.text-center
               img(src='/imgs/searchglass.png')
             hr
             p.lead(style='color: rgb(250,250,250)')
               strong Search datasets
             p(style='color: rgb(250,250,250)') Find data based on tags, column names and descriptions

