extends layout
  
block head
  
block content
	.container
		div
			.well.hero-spacer.well-background
				h3 Welcome!!
		form(action="/uploadFile", method="post", enctype="multipart/form-data")
			.form-group
				label Table Name
				input.form-control(type='text', placeholder='Enter table name', name='table_name', size='30')
			.form-group
				label Description
				input.form-control(type='text', placeholder='Enter table description', name='table_description', size='30')
			.form-group
				label Author
				input.form-control(type='text', placeholder='Enter table author', name='table_author', size='30')	
			.form-group
				input(type="file", name="csvFile")
			.form-group
				input#signup-submit.btn.btn-default(type='submit', name='submit')
		div 
			table.table.table-hover#apiKey
				tr
					th API Key
						button#genApiKey(type='button') Generate
				tr#apiKeyRow

		div.user-table
			table.table.table-hover
				h3 Tables
				tr
					th Name
					th Description
					th Author
					th Number of Row
					th Attributes
					th Action
				tr
					td placeholder
					td placeholder
					td placeholder
					td placeholder
					td placeholder
					td
						button(type='button', onclick='alert("Edit me!")') Edit
						button(type='button', onclick='alert("Delete me!")') Delete

		script(src='/app.js')
