<div class="container">


  <div class="well hero-spacer">
    <h3>Admin Portal</h3>
  </div>

  <div ng-controller="adminCtrl">
    <table class="table table-hover">
      <h3>Employees</h3>
      <tr>
        <th>Employee Name</th>
        <th>Employee Email</th>
        <th>Employee Phone</th>
        <th>Control</th>
      </tr>
      <tr ng-repeat="applicant in applicants">
        <td>{{applicant.name}}</td>
        <td>{{applicant.email}}</td>
        <td>{{applicant.phone}}</td>
        <td><button ng-click="deleteItem(applicant._id,'applicant')">Delete this entry</button>
    </table>
    <hr>
    <table class="table table-hover">
      <h3>Employers</h3>
      <tr>
        <th>Employer Name</th>
        <th>Employer Email</th>
        <th>Employee Phone</th>
        <th>Control</th>
      </tr>
      <tr ng-repeat="employer in employers">
        <td>{{employer.name}}</td>
        <td>{{employer.email}}</td>
        <td>{{employer.phone}}</td>
        <td><button ng-click="deleteItem(employer._id,'employer')">Delete this entry</button></td>
    </table>
    <hr>
    <table class="table table-hover">
      <h3>Posts</h3>
      <tr>
        <th>Position Name</th>
        <th>Responsible Employer ID</th>
        <th>Control</th>
      </tr>
      <tr ng-repeat="post in posts">
        <td>{{post.positionName}}</td>
        <td>{{post.employerID}}</td>
        <td><button ng-click="deleteItem(post._id,'post')">Delete this entry</button>
    </table>
  </div>

</div>