    <div class="container">

      <div class="jumbotron hero-spacer">
        <h1>Welcome!</h1>
        <p>Apply for multiple jobs at once and have local companies compete for you!</p>
      <table class="table">
      <br>
        <tr>
          <th>I am a Caregiver...</th>
          <th>I am an Employer...</th>
        </tr>
        <tr>
          <td> <a style="text-decoration:none;" href="#/worker-registration"><button href =type="button" class="btn btn-primary btn-lg btn-block">Apply Now As A Caregiver</button></a> </td>
          <td> <a style="text-decoration:none;" href="#/employer-registration"><button type="button" class="btn btn-primary btn-lg btn-block">Apply Now As An Employer</button> </a></td>
        </tr>
      </table>
      </div>
      <hr>
      <div class="row">
        <div class="col-lg-12">
           <h3>How it works</h3>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-lg-3 col-md-6 hero-feature">
          <div class="thumbnail">
            <img src="/imgs/apply.png" alt=''>
            <div class="caption">
              <h3>Apply</h3>
              <p>Complete a basic application form, including your past work history, skills, and credentials</p>
              <p><a href="#" class="btn btn-default">More Info</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 hero-feature">
          <div class="thumbnail">
            <img src="/imgs/background_check.png" alt="">
            <div class="caption">
              <h3>Background Check</h3>
              <p>Our automated background check process will verify education and 
                behavioral verification</p>
              <p><a href="#" class="btn btn-default">More Info</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 hero-feature">
          <div class="thumbnail">
            <img src="/imgs/search_for_job.png" alt="">
            <div class="caption">
              <h3>Search for Jobs</h3>
              <p>Browse open positions posted by employers</p></br>
              <p><a href="#" class="btn btn-default">More Info</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 hero-feature">
          <div class="thumbnail">
            <img src="/imgs/employer.png" alt="" width="800px" height="500px">
            <div class="caption">
              <h3>Employers</h3>
              <p>Employers will view your profile and reach out to you</p></br>
              <p><a href="#" class="btn btn-default">More Info</a></p>
            </div>
          </div>
        </div>
      </div>
      <hr>