<div ng-controller="jProfileCtrl">
  <div class='well'>
    <h3>Basic Info:</h3>

    <table class="table" style="width:600px">
        <tr>
            <td><b>Position Name:</b></td>
            <td>{{job.positionName}}</td>
        </tr>
        <tr>
            <td><b>Duties:</b></td>
            <td>{{job.duties}}</td>
        </tr>
        <tr>
            <td><b>Offered Hourly Rate:</b></td>
            <td>{{job.hourlyRate}}</td>
        </tr>
        <tr>
            <td><b>Type of Employer:</b></td>
            <td>{{job.employerType}}</td>
        </tr>
        <tr>
            <td><b>Years Experience Required:</b></td>
            <td>{{job.yearsExperience}}</td>
        </tr>
        <tr>
            <td><b>Position Type:</b></td>
            <td>{{job.positionType}}</td>
        </tr>
    </table>
  </div>

  <div class='well'>
    <h3>Skill Requirements:</h3>

    <table class="table" style="width:600px">
        <tr>
            <td><b>Education Required:</b></td>
            <td>{{job.experience.education}}</td>
        </tr>
        <tr>
            <td><b>Alzheimers Training Required:</b></td>
            <td>{{job.experience.Alzheimers}}</td>
        </tr>
        <tr>
            <td><b>Handicapped Training Required:</b></td>
            <td>{{job.experience.Handicapped}}</td>
        </tr>
        <tr>
            <td><b>Hospice Training Required:</b></td>
            <td>{{job.experience.Hospice}}</td>
        </tr>
        <tr>
            <td><b>Gastronom Training Required:</b></td>
            <td>{{job.experience.Gastronom}}</td>
        </tr>
        <tr>
            <td><b>Breathing Training Required:</b></td>
            <td>{{job.experience.Breathing}}</td>
        </tr>
        <tr>
            <td><b>Hoyer Training Required:</b></td>
            <td>{{job.experience.Hoyer}}</td>
        </tr>
        <tr>
            <td><b>Special Meal Training Required:</b></td>
            <td>{{job.experience.SpecialMeal}}</td>
        </tr>
        <tr>
            <td><b>ChildCare Training Required:</b></td>
            <td>{{job.experience.ChildCare}}</td>
        </tr>
        <tr>
            <td><b>Psychiatric Training Required:</b></td>
            <td>{{job.experience.Psychiatric}}</td>
        </tr>
        <tr>
            <td><b>Geriatric Training Required:</b></td>
            <td>{{job.experience.Geriatric}}</td>
        </tr>
        <tr>
            <td><b>Homecare Training Required:</b></td>
            <td>{{job.experience.Homecare}}</td>
        </tr>
        <tr>
            <td><b>Assisted Living Training Required:</b></td>
            <td>{{job.experience.AssistedLiving}}</td>
        </tr>
    </table>

  </div>

</div>


