<div class="container">
  <div class="well hero-spacer">
    <h3>Your Caregiver Profile, Continued</h3>
  </div>

  <form role="form">

    <div class="well">
      <div class="form-group control-group">
        <label for="inputEmail">Describe your ideal patient.</label>
        <textarea ng-model="idealPatient" class="form-control" rows="3"></textarea>
      </div>
    </div>

    <div class="well">
      <div class="form-group control-group">
        <label for="inputEmail">Describe your ideal work environment</label>
        <textarea ng-model="workEnvironment" class="form-control" rows="3"></textarea>
      </div>
    </div>

    <div class="well">
      <div class="form-group control-group">
        <label for="inputEmail">What are your hobbies and interests?</label>
        <textarea ng-model="interests" placeholder="Example: Sports, Reading, Computers, Travel..." class="form-control" rows="3"></textarea>
      </div>
    </div>

    <button ng-click="submit()" class="btn btn-default">Submit Application</button>
  </form>
</div>



