<div class="container">

<div>
  <div class="well hero-spacer">
    <h3>Post a new Job</h3>
  </div>

    <div class="well">
      <div class="form-group control-group">
        <label for="inputEmail">Position Name</label>
        <textarea ng-model="positionName" class="form-control" rows="1"></textarea>
      </div>
    </div>

    <div class="well">
      <div class="form-group control-group">
        <label for="inputEmail">Position Duties and Responsibilities</label>
        <textarea ng-model="duties" class="form-control" rows="3"></textarea>
      </div>
    </div>

    <div class="well">
      <div class="form-group">
        <label for="exampleInputEmail1">Hourly Rate Range</label>
        <select ng-model="hourlyRate">
          <option>$8.00-$10.00</option>
          <option>$10.00-$12.00</option>
          <option>$12.00-$14.00</option>
          <option>$14.00-$16.00</option>
          <option>$18.00-$20.00</option>
          <option>$20.00-$22.00</option>
        </select>
      </div>
    </div>

    <div class="well">
      <div class="form-group">
        <label for="exampleInputEmail1">Is this a full time or part time position?</label>
        <select ng-model="positionType">
          <option>Full Time</option>
          <option>Part Time</option>
        </select>
      </div>
    </div>

    <div class="well">
      <div class="form-group">
        <label for="exampleInputEmail1">Is this placement through an agency or a facility?</label>
        <select ng-model="employerType">
          <option>Facility</option>
          <option>Agency</option>
        </select>
      </div>
    </div>



    <div class="well">
      <div class="form-group control-group">
        <label for="inputEmail">Position Benefits</label>
        <textarea ng-model="idealPatient" class="form-control" rows="3"></textarea>
      </div>
    </div>

    <div class="well">
      <div class="form-group">
        <label for="inputEmail">Position Street Address</label>
        <input ng-model="street" class="form-control" placeholder="E.g. 123 Main Street" >
        <br>
        <label for="inputEmail">Position City, State, and Zip</label>
        <input ng-model="cityStateZip" class="form-control" placeholder="E.g. San Francisco, CA 94103" >
      </div>
    </div>


    <div class="well">
      <div class="form-group">
        <label>What level of education is required for this position?</label>
        <select ng-model="education">
          <option>Some high school</option>
          <option>High school diploma</option>
          <option>Some college</option>
          <option>Undergraduate degree</option>
          <option>Graduate degree</option>
        </select>
      </div>
      </div>
    </div>

    <div class="well">
      <div class="form-group">
        <label >How many years of experience are required for this position?</label>
        <select ng-model="yearsExperience">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5+</option>
        </select>
      </div>
    </div>

    <div class="well">
      <h4 class="pull-left">Select experience required for this position:</h4>
          <div class="clearfix"></div>
            <div class="checkbox-columns">
                <table class='table'>
                  <tr>
                    <td><label class="checkbox span1">
                        <input ng-model="Alzheimers" type="checkbox" value="option1"> Experience: Alzheimers/Dementia
                    </label></td>
                    <td><label  class="checkbox span2">
                        <input ng-model="Handicapped" type="checkbox" value="option2"> Experience: Handicapped Patients
                    </label></td>
                    <td><label  class="checkbox span2">
                        <input ng-model="Hospice" type="checkbox" value="option3"> Experience: Hospice Patience
                    </label></td>
                  </tr>
                  <tr>
                    <td><label  class="checkbox span2">
                        <input ng-model="Gastronomy" type="checkbox" value="option3"> Experience: Gastronomy Tubes
                    </label></td>
                    <td><label  class="checkbox span2">
                        <input ng-model="Breathing" type="checkbox" value="option3"> Experience: Breathing Treatments
                    </label></td>
                    <td><label class="checkbox span2">
                        <input ng-model="Hoyer" type="checkbox" value="option3"> Experience: Hoyer Lifts / Gait Belts
                    </label></td>
                  </tr>
                  <tr>
                    <td><label class="checkbox span2">
                        <input ng-model="SpecialMeal" type="checkbox" value="option3"> Experience: Special Meal Prep
                    </label></td>
                    <td><label class="checkbox span2">
                        <input ng-model="Childcare" type="checkbox" value="option3"> Experience: Childcare
                    </label></td>
                    <td><label class="checkbox span2">
                        <input ng-model="Psychiatric" type="checkbox" value="option3"> Experience: Psychiatric
                    </label></td>
                  </tr>
                  <tr>
                    <td><label class="checkbox span2">
                        <input ng-model="Geriatric" type="checkbox" value="option3"> Experience: Geriatric
                    </label></td>
                    <td><label class="checkbox span2">
                        <input ng-model="Homecare" type="checkbox" value="option3"> Experience: Homecare
                    </label></td>
                    <td><label class="checkbox span2">
                        <input ng-model="AssistedLiving" type="checkbox" value="option3"> Experience: Assisted Living
                    </label></td>
                  </tr>
                </table>
            </div>
      </div>
    </div>
    <button ng-click="submit()">Create Job Post!</button>


</div>

