<div class="container" ng-controller='wLoginCtrl'>

<div>
  <div class="well hero-spacer well-background">
    <h3>Worker: Please Login</h3>
  </div>
  <div class="row">
    <form method="post" action="/worker-login">
      <div class="form-group">
        <label>Email</label>
        <input class="form-control" type="text" placeholder="Enter your email" name="email" size="30">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input class="form-control" type="password" placeholder="Enter your password" name="password">
        <button class="btn btn-default">Sign In</button>
      </div>
    </form>
  </div>
</div>


