<div class="container" >

<div>
  <div class="well hero-spacer">
    <h3 style="display:inline;">Employee Portal</h3>
    <a href="#/worker-registration2" class="right"><button type="button" style="width:300px;" class="btn btn-primary">Update Your Profile</button></a>
  </div>
</div>

<div ng-controller="jobListCtrl">

  <span> I am looking for jobs...</span>
    <select class="searchField" ng-model="range">
            <option>up to 5 miles</option>
            <option>up to 10 miles</option>
            <option>up to 20 miles</option>
            <option>up to 30 miles</option>
            <option>up to 50 miles</option>
    </select>

  <span> of... </span>
  <input type="text" ng-model="loc" class="form-control searchField searchInput" placeholder="Your Location">
  </br>
  <span>Year of Experience</span>
    <select class="searchField" ng-model="yearsExperience">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
    </select>
  </br>
  <span> Position Type</span>
    <select class="searchField" ng-model="positionType">
            <option>Full Time</option>
            <option>Part Time</option>
    </select>

  <button class="btn btn-primary right" ng-click="search()">Search</button>
  <table class="table table-hover">
    <tr>
      <th>Position Name</th>
      <th>Position Type</th>
      <th>Employer Type</th>
      <th>Years Experience Required</th>
      <th>Hourly Rate</th>
    </tr>
    <tr ng-repeat="job in jobs" ng-click="getJob(job)" style="cursor:pointer;">
      <td>{{job.positionName}}</td>
      <td>{{job.positionType}}</td>
      <td>{{job.employerType}}</td>
      <td>{{job.yearsExperience}}</td>
      <td>{{job.hourlyRate}}</td>
    </tr>
  </table>
</div>
